<!DOCTYPE html>
<html>
<head>
  <title>Histogram with D3.js</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="static/js/year_count.js"></script>


</head>
<body>
          <select id="sel_fall" onchange="optionChanged(this.value)">
               <option value="All">All</option>
                  <option value="Fell">Fell</option>
                                <option value="Found">Found</option>

          </select>

  <div id="line">  </div>
</body>
</html>
